.fila {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.muestra {
  width: 120px;
  height: 120px;
  border: 1px solid black;
}
p {
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  margin: 4px 0 0 0;
}